.container{


    h2{
        padding-bottom: 10px;
        font-size: 3.5em;
        font-style: italic;
        font-weight: 600;
    }

    .container-button{
        a{
            text-decoration: none;          
            :hover{
                text-decoration: none;
            }
        }
    }
}