
.index-wrapper{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 30px;
    .container-dishes-index{
        .prim-butt.rosso{
            background-color: $primC;
            color: white;
            border: 1px solid $primC;
        }
        .white-butt-hover.white{
            background-color: $secC;
            color: white;
        }
        h2{
            font-size: 4em;
            font-style: italic;
        }
        tbody{
            tr{
                th{
                    a{
                        color: black;
                        text-decoration: none;
                        h3{
                            font-style: italic;
                        }&:hover{
                            color: $primC;
                        }
                    }
                }
                .white-butt-hover{
                    background-color: $primC;
                    color: white;
                }
    
                .white-butt-hover.yell{
                    background-color: $secC;
                    color: white;
                }
            }
        }
    }
}

.show-wrapper{
    h1{
        font-size: 3.5em;
        font-style: italic;
    }
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 30px;
    .image-container{
        .image-wrapper{
            img{
                width: 50%;
                border-radius: 30px;
                box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            }
        }
    }
}