.index-wrapper{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 30px;
    .white-butt-hover.yell{
        background-color: $secC;
        color: white    ;
    }
    tr{
        td{
            a{
                color: black;
                text-decoration: none;
            }&:hover{
                color: $primC;
            }
        }
    }
}

.show-wrapper{
    h2{
        font-size: 3em;
        font-weight: 700;
        font-style: italic;
    }
    h4{
        font-style: italic;
    }
    address{
        font-size: 1.2em;
    }
}