// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:wght@300;400;700&display=swap');

// Variables
@import 'variables';
@import 'dashboard';
@import 'footer';
@import 'dishes';
@import 'orders';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#app{
    min-height: 100vh;
}
nav{
    background-color: $primC;
    .row{
        width: 100%;
    }
    .navbar-brand{
        color: white;
        font-size: 2.5em;
        font-style: italic;
        font-weight: 600;
    }
    #navbarDropdown{
        color: white;
    }
    .nav-link{
        text-decoration: none;
        color: white;
        font-size: 1.3em;
        font-style: italic;
        &:hover{
            color: silver;
        }
    }
}


